.home-page-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.notes-container{
    flex: 1;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
}
.add-box{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: end;
    padding: 15px;
    justify-content: end;
}
.add-box button{
    padding: 8px 15px;
    font-size: 18px;
    font-weight: 600;
    background: var(--primary-color);
    color: white;
    border: 0;
    outline: 0;
    border-radius: 5px;
    
}

.add-page-container{
    width: 500px;
    min-height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid;
    box-shadow: 0 2px 100px 600px rgba(0, 0, 0, 0.3);
    background: white;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
}

.add-page-container form{
    width: 100%;
}

.add-page-container form div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20px;
    color: #a5a5a5;
}


#title{
    width: 100%;
    padding: 10px 0px;
    font-size: 20px;
    border: 0;
    outline: 0;
}

#content{
    width: 100%;
    height: 180px;
    border: 0;
    outline: 0;
    resize: none;
    background: #efeeee;
    border-radius: 5px;
    padding: 10px 5px;
    font-size: 16px;
    margin-top: 10px;
}

.add-page-container form div .tags-inner-div{
    width: 100%;
    display: flex;
}
.add-page-container form #add{
    width: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    background: var(--primary-color);
    display: flex;
    padding:8px 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    outline: 0;
}
#tags{
    flex: 1;
}

.cross{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 25px;
    color: #ccc;
    transition: 0.3s;
}

.cross:hover{
    color: var(--primary-color);
    cursor: pointer;
}

.add-page-container form .tags-box {
    display: flex;
    width: 100%;
}
.add-page-container form .tags-box div input{
    border: 1px solid;
    outline: 0;
    padding: 5px 10px;
    border-radius: 5px;

}

.tags-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.tag-btn{
    gap: 10px;
    background: white;
    color: var(--primary-color);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
}

