:root{
    --text-dark : #333;
}

.navbar{
    width: 100%;
    padding: 10px 15px;
    color: var(--text-dark);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow:  0 2px 5px rgba(0,0,0,0.3);
}