/* External CSS - styles.css */

/* Hide scrollbar for WebKit-based browsers (Chrome, Safari) */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for Firefox */
  .hide-scrollbar {
    scrollbar-width: none; /* For Firefox */
  }
  
  /* Hide scrollbar for IE and Edge */
  .hide-scrollbar {
    -ms-overflow-style: none; /* For IE and Edge */
  }
  